* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Raleway;
    background-color: rgba(255, 245, 240, 1);
}

header {
    display: flex;
    justify-content: center;
    gap: 0px;
    /* flex-wrap: wrap; */
    flex-direction: row;
    align-items: center;
    gap: 60px;
}

img {
    width: 100%;
}

.right-header {
    /* display: flex; */
    width: 50%;
}

.header-box {
    display: flex;
    gap: 13px;
    align-items: center;
    justify-content: space-evenly;
    border-style: solid;
    padding: 50px 24px;
    border-radius: 12px;
    background-color: rgba(255, 239, 229, 1);
    box-shadow: 8px 8px 0px 1px rgba(255, 190, 153, 1);
}

@media screen and (max-width: 570px) {
    header {
        display: flex;
        justify-content: center;
        gap: 0px;
        flex-wrap: wrap;
        flex-direction: row;
        align-items: center;
        gap: 60px;
    }

    #top-h1 {
        font-size: 30px;
    }

    .Container-items {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 68px;
    }

    .first-three {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 68px;
    }
    
    .second-three {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 68px;
    }

    .header-box {
    display: flex;
    gap: 13px;
    align-items: center;
    justify-content: space-evenly;
    border-style: solid;
    padding: 50px 24px;
    border-radius: 12px;
    background-color: rgba(255, 239, 229, 1);
    box-shadow: 8px 8px 0px 1px rgba(255, 190, 153, 1);
    flex-wrap: wrap;
    }

    #first-header-box-item, #second-header-box-item {
        border-bottom: 2px solid black;
        padding: 20px;
    }

    p {
        font-size: 16px;
    }

    svg {
    position: absolute;
    left: 24px;
    top: -28px;
    }
}

.item {
    width: 504px;
    height: 306px;
    border-style: solid;
    border-color: rgba(38, 38, 38, 1);
    position: relative;
    border-radius: 12px;
    box-shadow: 6px 6px 0px 2px;
}

.Container-items {
    display: flex;
    flex-direction: column;
    gap: 85px;
}

.first-three {
    display: flex;
    justify-content: center;
    gap: 40px;
}

.second-three {
    display: flex;
    justify-content: center;
    gap: 40px;
}

body {
    text-align: center;
}

svg {
    position: absolute;
    left: 30px;
    top: -35px;
}

.h1-item {
    position: absolute;
    top: 80px;
    left: 50px;
}

.p-item {
    position: absolute;
    top: 136px;
    left: 50px;
    text-align: left;
}

.testimonials {
    display: flex;
    flex-direction: row;
    gap: 50px;
    justify-content: center;
    margin-top: 100px;
    align-items: center;
    margin-bottom: 227px;
}

.parents {
    width: 425.3333435058594px;
    height: 462px;
    border: 2px solid black;
    border-radius: 12px;
    box-shadow: 6px 6px 0px 2px;
    position: relative;
}

.first-parent img {
    width: 80px;
    height: 80px;
    position: absolute;
    top: 0px;
    left: 0px;
}

.second-parent img {
    width: 80px;
    height: 80px;
    position: absolute;
    top: 0px;
    left: 0px;
}

.third-parent img {
    width: 80px;
    height: 80px;
    position: absolute;
    top: 0px;
    left: 0px;
}

.testimonials img {
    width: 58px;
    height: 58px;
}